.btn-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  animation: yahoo 2s ease forwards;
  transform: translate(-200px, -50%);
}

.btn {
  padding: 10px 20px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 255, 221);
  border: 5px solid #000000;
  border-radius: 30px;
  cursor: pointer;

  transition: transform 0.5s, background-color 0.5s, color 0.5s, border-color 0.5s;
}

.btn-wrapper:hover .btn {
  transform: translateY(-10px);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
}

@keyframes yahoo {
  0% {
    transform: translate(-400px, -50%);
  }
  100% {
    transform: translate(-200px, -50%);
  }
}