.btn{
    color: rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(0, 255, 221);
    border-color: #000000;
    border: 5px solid;


    transition-property:transform;
    transition-duration: 0.5;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition:transform 0.5s;
}

.btn:hover {
    transform: translateY(-10px);
    background-color: var(--clr-accent);
    color: var(--clr-light);
}

.hello{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
